<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Sistema de Vendas</title>
  <link rel="stylesheet" href="css/sistema_de_vendas.css">
</head>
<body>
  <div class="login-container">
    <h1>Faça Login na sua conta</h1>
    <form action="pagina_inicial.html" method="get"> <!--Inicialmente, após clicar em login ele faz login automatico sem requerir nada-->
      <input type="email" placeholder="Email" > <!--Required-->
      <input type="password" placeholder="Senha" > <!--Required-->
      <div class="button-group">
        <button type="reset" class="btn-light">APAGAR</button>
        <button type="submit" class="btn-primary">LOGIN</button>
      </div>
    </form>
    <div class="login-links">
      <a href="#">Esqueci a senha</a> / 
      <a href="cadastro.html">Criar uma conta</a>
    </div>
  </div>
</body>
</html>