<div th:fragment="sidebar">
  <div class="sidebar text-white d-flex flex-column justify-content-center align-items-center p-4">
    <h2>
      Bem vindo,<br>
      <span th:if="${funcionario != null}" th:text="${funcionario.nome}">Usuário</span>
      <span th:if="${funcionario == null}">Usuário</span>
    </h2>
    <p>Tenha um ótimo dia</p>
    
    <!-- Esse botão aparece em todas as paginas, menos na Pagina Inicial-->
    <div class="mt-4" th:if="${mostrarVoltar}">
      <a th:href="@{/pagina-inicial}" class="btn btn-outline-light w-100">Voltar pro início</a>
    </div>

    <div class="version-info mt-4 text-center">
      <span>versão 1.2.34.56.9</span><br>
      <span>16 de Setembro de 2024 - 11:31</span>
    </div>
  </div>
</div>